/* setting the white space property */

.card {
    display: grid;
    grid-template-rows: repeat(4, 3vw);
    grid-template-columns: repeat(3, 5vw);
    grid-gap: 8px;
    white-space: nowrap;
}

.logo-div {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;

    box-shadow: 3px 3px 5px gray;

}

.logo-style {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 4px;
}

.title {
    text-align: left;
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    text-transform: uppercase;

    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.subtitle {
    text-align: left;
    font-size: 1.5vw;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: center;

    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.find-more {
    text-align: center;
    font-size: 1.5vw;
    color: black;
    font-family: Arial, Helvetica, sans-serif;

    background-color: rgb(102, 173, 218);
    border: none;
    border-radius: 4px;    
    box-shadow: 3px 3px 5px gray;

    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    
}
